{% autoescape off %}
<html>
<body>
    <p>Hola,</p>
    <p>Recibimos una solicitud para restablecer tu contraseña. Haz clic en el siguiente enlace para restablecer tu contraseña:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color: #1a0dab;">Haz clic aquí para restablecer tu contraseña</a></p>
    <p>Si no solicitaste este cambio, puedes ignorar este correo electrónico.</p>
    <p>Gracias,</p>
    <p>El equipo de {{ site_name }}</p>
</body>
</html>
{% endautoescape %}
